<div class="row padding-top">
  <ng-container *ngIf="posts.length; else noPosts">
    <article
      class="col-4 col-medium-2 blog-p-card--post"
      *ngFor="let post of posts"
    >
      <header class="blog-p-card__header">
        <h5 class="p-muted-heading">{{ post.tag }}</h5>
      </header>

      <div class="blog-p-card__content">
        <a [href]="post.article_link">
          <img
            [alt]="'Image for ' + post.title"
            height="311"
            width="555"
            loading="lazy"
            [src]="post.image_link"
          />
        </a>

        <h3 class="p-heading--4">
          <a [href]="post.article_link">{{ post.title }}</a>
        </h3>

        <p>
          <em>
            By
            <a [href]="post.author_link">{{ post.author }}</a>
            on
            {{ post.date | date : "d MMMM y" }}
          </em>
        </p>
      </div>

      <p class="blog-p-card__footer">Article</p>
    </article>
  </ng-container>

  <ng-template #noPosts>
    <p>No blog posts available at the moment.</p>
  </ng-template>
</div>
